@font-face {
    font-family: 'MyWebFont';
    src: url('webfonts/fa-brands-400.eot'),
    url('webfonts/fa-solid-900.eot'),
    url('webfonts/fa-regular-400.eot'); /* IE9 Compat Modes */
    src: url('webfonts/fa-brands-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('webfonts/fa-brands-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('webfonts/fa-brands-400.woff') format('woff'), /* Pretty Modern Browsers */
    url('webfonts/fa-brands-400.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('webfonts/fa-brands-400.svg#svgFontName') format('svg'), /* Legacy iOS */
    url('webfonts/fa-solid-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('webfonts/fa-solid-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('webfonts/fa-solid-900.woff') format('woff'), /* Pretty Modern Browsers */
    url('webfonts/fa-solid-900.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('webfonts/fa-solid-900.svg#svgFontName') format('svg'), /* Legacy iOS */
    url('webfonts/fa-regular-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('webfonts/fa-regular-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('webfonts/fa-regular-400.woff') format('woff'), /* Pretty Modern Browsers */
    url('webfonts/fa-regular-400.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('webfonts/fa-regular-400.svg#svgFontName') format('svg'); /* Legacy iOS */
}
.content {
    background-color: rgb(226, 158, 171);
    text-align: center;
}
body {
    background-color: rgb(201, 14, 226);
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.myapp {
    text-align: center;
    padding: 10px;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}



.icon {
    margin: 10px;
}