
.content {
    background-color: rgb(226, 158, 171);
    text-align: center;
}
body {
    background-color: #9933FF;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}


[class*="col-"] {
    padding: 10px;
}

/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
.myapp {
    text-align: center;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 12.5px;
}

.circle{
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #8c0ae2;
}

.icon {
    width: 70%;
}

img {
    display: inline-block;
    padding-top: 15px;
}