@font-face {
    font-family: 'MyWebFont';
    src: url('webfonts/fa-brands-400.eot'),
    url('webfonts/fa-solid-900.eot'),
    url('webfonts/fa-regular-400.eot'); /* IE9 Compat Modes */
    src: url('webfonts/fa-brands-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('webfonts/fa-brands-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('webfonts/fa-brands-400.woff') format('woff'), /* Pretty Modern Browsers */
    url('webfonts/fa-brands-400.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('webfonts/fa-brands-400.svg#svgFontName') format('svg'), /* Legacy iOS */
    url('webfonts/fa-solid-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('webfonts/fa-solid-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('webfonts/fa-solid-900.woff') format('woff'), /* Pretty Modern Browsers */
    url('webfonts/fa-solid-900.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('webfonts/fa-solid-900.svg#svgFontName') format('svg'), /* Legacy iOS */
    url('webfonts/fa-regular-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('webfonts/fa-regular-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('webfonts/fa-regular-400.woff') format('woff'), /* Pretty Modern Browsers */
    url('webfonts/fa-regular-400.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('webfonts/fa-regular-400.svg#svgFontName') format('svg'); /* Legacy iOS */
}
