body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    padding: 5px 10px;
}

/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

.tab-menu {
    padding: 5px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #ffffff;
    background-color: #8c0ae2;
}

.nav-pills .nav-link {
    color: #ffffff;
    background-color: #b457e2;
    margin-right: 5px;
    margin-bottom: 2px;
}



.cover-image {
    position: relative;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 40px;
    font-weight: bold;
}


.bg-buttom-left {
    bottom: 1px;
    position: absolute;
    background-color: rgba(2, 2, 2, 0.3);
    width: 100%;
    height: 80px;
}

.text-tab {
    font-size: 20px;
    padding: 6px;
}

.text-bold {
    font-weight: bold;
    padding-bottom: 5px;
}
.card {
    border-style:none ;
}

.card-header {
    background-color: #8c0ae2;
    color: white;
}
.card-footer {
    background-color: white;
}

.taxi {
    padding: 10px 20px 10px 20px;
}
.car {
    padding: 10px 20px 10px 20px;
}
.tour {
    padding: 10px 20px 10px 20px;
}

.morning .card-header {
    background-color: white;
}

.morning .card-footer {
    background-color: white;
}

.subject {
    color: #ffffff;
    background-color: #8c0ae2;
    margin: 10px 2px 2px 2px;
    padding: 18px 25px 18px 25px;
    text-align: center;
    font-weight: bold;
}

.text-left {
    font-weight: bold;
    font-size: 20px;
    text-align: center!important;
}

.text-right {
    position: absolute;
    bottom: 20%;
    right: 12%;
    font-weight: bold;
    font-size: 20px;
}

.card-text:last-child{
    font-size: 20px; !important;
}